@font-face {
	font-family: MyFont;
	src: url(../fonts/HappyMonkey-Regular.ttf);
}

@font-face {
	font-family: Title;
	src: url(../fonts/SuperComic-qZg62.ttf);
}

body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

.header h1 {
	text-align: center;
	font-family: Title;
}

.header p {
	text-align: center;
	font-weight: 700;
}

.green {
	color: #27AE60;
}

.red {
	color: red;
}

p {
	margin: 10px 0;
	font-family: MyFont;
	text-align: center;
}

#buttons {
	position: relative;
	margin: 0 auto 20px auto;
	padding: 20px;
	float: left;
	display: block;
	background-color: #eee;
	border-radius: 4px;
	margin: 20px 0;
	z-index: 2;
}
#buttons:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(238, 238, 238, 0);
	border-top-color: #eee;
	border-width: 10px;
	margin-left: -10px;
}
.yt-button {
	padding: 10px 20px;
	font-weight: bold;
	letter-spacing: 5px;
	outline: none;
	cursor: pointer;
	color: white;
	background-color: #7F8C8D;
	border: none;
	border-radius: 4px;
}
#play-button {
	background-color: #2ECC71;
}
#play-button:hover {
	background-color: #27AE60;
}
#pause-button {
	background-color: #E67E22;
}
#pause-button:hover {
	background-color: #D35400;
}
#pause-button {
	margin-left: 15px;
}
iframe {
	margin: 0 auto;
	width: 560px;
	height: 315px;
	float: left;
	clear: both;
	display: block;
	background-color: #eee;
}

.answer {
	position: relative;
	z-index: 2;
}

.images {
	position: absolute;
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
	z-index: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.images img {
	max-width: 600px;
}

#wedding-singer-img {
	max-height: 500px;
}

.button-container {
	z-index: 2;
}

#data,
#data1 {
	display: none;
}


.leaderboard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 20px 30px;
	border-radius: 40px;
	border: 1px solid black;
	z-index: 3;
}

#top10 .score_row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 10px;
}

#top10 h1 {
	font-family: Title;
	color: rgb(16, 68, 255);
}

.yourScore {
	display: flex;
	justify-content: center;
}

.yourScore p {
	margin-left: 10px;
}

.button {
	padding: 10px;
	font-family: myFont;
	cursor: pointer;
	opacity: 1;
	font-weight: 500;
}

.button:hover {
	opacity: 0.8;
	transition-property: opacity 0.2s ease;
	font-weight: 700;
	transition: font-weight 0.2s ease;
}

#leaderboard-button,
#home-button {
	margin-top: 15px;
	background-color: yellow;
}

#submit-button {
	background-color: #27AE60;
	color: white;
	border: none;
}

#username-button {
	background-color: white;
	color: blue;
	border: none;
	z-index: 2;
}

#dropdown {
	padding: 10px;
}

#background,
#mobile-background {
	position: fixed;
	z-index: 0;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

#mobile-background  {
	display: none;
}

.header h1 {
	color: white;
	margin: 0;
}

.header p {
	background-color: white;
	border-radius: 60px;
	padding: 20px 40px;
	font-weight: 700;
	font-size: 18px;
}

.page-content {
	margin-top: 50px;
	position: relative;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.445);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 80px;
	border-radius: 60px;
}

@media (max-width: 500px) {
	#background {
	  display: none;
	}

	#mobile-background {
		display: block;
	}

	.images {
		display: none;
	}

	.page-content {
		padding: 20px 30px;
		margin-top: 20px;
	}

	.header h1 {
		font-size: 25px;
		width: fit-content;
	}

	.header p {
		font-size: 12px;
		padding: 10px 20px;
		width:80%;
	}

	.answer {
		display: flex;
		flex-direction: column;
	}

	#top10 h1 {
		font-size: 24px;
	}
  }
