{% extends "base.html" %}

{% block header %}
<p>Welcome to the Leaderboard! Now are you a real fan??</p>
{% endblock %}
{% block content %}
<div class="leaderboard">
    <div id="user_stats">
        <div id="data1">{{user_stats}}</div>
    </div>
    <div id="top10">
        <h1 style="align-self: center;">The TOP 10</h1>
        <div id="data">{{top10}}</div>
    </div>
</div>

<div class="button-container">
    <a href="/index">
        <button id='home-button' class='button'>Return to Home Page</button>
    </a>
</div>
<div class="images">    
    <img src="{{ url_for('static', filename='images/adam3.png') }}">
    <img id='wedding-singer-img' src="{{ url_for('static', filename='images/adam4.png') }}">
</div>
<script src="{{ url_for('static', filename='js/leaderboard.js') }}"></script>
{% endblock %}